/* header
================================================ */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  color: white;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: auto;
  mix-blend-mode: difference;
}

.header__logo a {
  display: block;
  width: auto;
  padding: 30px 20px;
}

.header__logo img {
  width: auto;
  height: 20px;
  object-fit: contain;
}

.header__nav {
  color: white;
  opacity: 0.6;
  display: flex;
  gap: 3rem;
  align-items: center;
  mix-blend-mode: difference;
  letter-spacing: 4px;
  cursor: pointer;
  padding: 20px;
  user-select: none;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
}

.header__nav span {
  display: inline-block;
  transition: all 0.3s ease;
}

.header__nav:hover {
  opacity: 1;
}

.header__nav:hover .nav__line {
  rotate: 45deg;
}

.header__nav__list__item {
  color: #eee;
  opacity: 0.7;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2rem;
  transition: all 0.3s ease;
  letter-spacing: 4px;
}

@media screen and (min-width: 960px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    width: 120px;
  }

  .header__nav ul {
    color: white;
    display: flex;
  }
}
