/**
 * File page-contact.css
 * Usage: page-contact.php(お問い合わせページ)のスタイルを定義します。
*/
.ly_contact {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .ly_contact {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1280px) {
  .ly_contact {
    padding: 0 80px;
  }
}
