.thumbnail__content {
  margin-top: 4rem;
  aspect-ratio: 4/3;
  margin-left: auto;
  margin-right: 0;
  overflow-x: hidden;
}

.thumbnail__content img {
  object-fit: cover;
  margin-left: auto;
  margin-right: 0;
  width: 90%;
}

.thumbnail__content .sh__img {
  margin-left: auto;
  margin-right: 0;
}

.single__title {
  /* position: absolute; */
  top: 200px;
  left: auto;
  z-index: 1100;
  color: white;
  font-size: 24px;
}

.single .content__top__img {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/*------------------------------------------------------
 Tablet
------------------------------------------------------*/
@media screen and (min-width: 600px) {
  /* contents
    ================================================ */
  .thumbnail__content {
    margin-top: 4rem;
    aspect-ratio: 4/3;
    margin-left: auto;
    margin-right: 0;
    overflow-x: hidden;
  }
}

/*------------------------------------------------------
   PC
  ------------------------------------------------------*/
@media screen and (min-width: 960px) {
  /* contents
    ================================================ */
  .thumbnail__content {
    aspect-ratio: 16/9;
  }

  .thumbnail__content img {
    object-fit: cover;
    margin-left: auto;
    margin-right: 0;
    width: 80%;
  }

  .single__title {
    position: absolute;
    top: 200px;
    left: auto;
    z-index: 1100;
    color: white;
    font-size: 32px;
  }
}

/*------------------------------------------------------
   PC - desktop
  ------------------------------------------------------*/
@media screen and (min-width: 1760px) {
  /* contents
    ================================================ */
  .image__list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
