/* stylesheet */
@charset "UTF-8";

/* A Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------------------------------------
 Base (Mobile First)
------------------------------------------------------*/
.pc {
  display: none;
}
body {
  color: #333;
  width: 100%;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  font-feature-settings: 'palt';
  -webkit-text-size-adjust: 100%;
  font-family: 'Helvetica', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container,
  .slider__content {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container,
  .slider__content {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container,
  .slider__content {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container,
  .slider__content {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container,
  .slider__content {
    max-width: 1536px;
  }
}
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: semibold;
  line-height: 1.4;
}

/* img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
} */

/* clearfix */
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/**

/* lenis
================================================ */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* base
================================================ */
body {
  background: #111;
}

.caption__text {
  color: white;
  opacity: 0.5;
  font-size: small;
}

.section__title {
  display: block;
  font-size: normal;
  letter-spacing: 5px;
  color: #ffffff;
  opacity: 0.6;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  margin-bottom: 2rem;
}

.section__title span {
  font-size: small;
  display: block;
  margin-top: 4px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
/* header
================================================ */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  color: white;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: auto;
  mix-blend-mode: difference;
}

.header__logo a {
  display: block;
  width: auto;
  padding: 20px;
}

.header__logo img {
  width: auto;
  height: 20px;
  object-fit: contain;
}

.header__nav {
  color: white;
  opacity: 0.6;
  display: flex;
  gap: 3rem;
  align-items: center;
  mix-blend-mode: difference;
  letter-spacing: 4px;
  cursor: pointer;
  padding: 20px;
  user-select: none;
}

.header__nav ul li a {
  mix-blend-mode: difference;
}

.header__nav ul li .contactBtn {
  background-color: #ff4040;
  width: 146px;
  height: 48px;
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  place-items: center;
  mix-blend-mode: difference;
}

/* nav
================================================ */

/* webGL
================================================ */
.webgl-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}

.webgl-canvas__body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  position: relative;
}

/* fv
================================================ */

.fv {
  position: relative;
  top: 0;
  z-index: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  margin-top: -32px;
  width: 100%;
  margin: auto;
}

.fv__img {
  width: 92%;
  margin: auto;
  opacity: 0;
}

.fv p {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  pointer-events: none;
  word-break: none;
  opacity: 0.5;
}

body {
  overscroll-behavior: none;
}

.fv {
  position: relative;
}

/* archive
================================================ */

.arc__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}

.arc__list {
  width: 100%;
  color: white;
  border: none;
  position: relative;
}

.arc__list__image__wrapper {
  display: block;
}

.arc__list__title {
  font-size: medium;
  font-weight: 400;
  letter-spacing: 2px;
}

.sh__img {
  opacity: 0;
  position: relative;
  display: block;
  height: auto;
  object-fit: cover;
}

/* slider
================================================ */
.s_img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

#slider {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.slider__img {
  width: 130%;
  aspect-ratio: 4 / 3;
  position: relative;
  margin-left: 40px;
}

.slider__content {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#slider__text {
  width: 100%;
}
#slider__text h2 {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  letter-spacing: 0.05em;
  color: #fff;
  line-height: 30px;
  margin: 16px 0;
}

#slider__text span {
  display: none;
}
#slider__text .meta {
  display: inline-block;
  font-size: 11px;
  letter-spacing: 5px;
  color: #fff;
  opacity: 0.6;
  text-transform: uppercase;
  position: relative;
}

#slider__text #slide-status {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

#pagination {
  position: relative;
  z-index: 6;
  display: flex;
  gap: 30px;
  margin-top: 40px;
  margin-left: 15px;
}
#pagination button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  position: relative;
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}
#pagination button:hover {
  opacity: 0.5;
}
#pagination button.active {
  opacity: 1;
}
#pagination button.active:before {
  width: 300%;
  height: 300%;
  opacity: 1;
}
#pagination button:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

/*------------------------------------------------------
 Tablet
------------------------------------------------------*/
@media screen and (min-width: 600px) {
  .sp {
    display: none;
  }
  .pc__nav.pc {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 50%;
    translate: 0 -50%;
    padding: 20px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    -webkit-border-image: none;
    border-image: none;
  }

  /* contents
  ================================================ */
  .fv__img {
    width: 85%;
  }
  .fv p {
    font-size: large;
    margin-top: -1rem;
  }
  .arc__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #slider {
    display: flex;
    justify-content: flex-end;
    height: auto;
    max-height: 1540px;
    max-width: 1540px;
    padding: 0;
  }

  .slider__content {
    margin: auto;
    left: 0;
    right: 0;
    padding: 20px;
  }

  .slider__img {
    width: 70%;
    margin-left: 0;
  }

  .s_img {
    height: auto;
  }

  #slider__text h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }

  #slider__text #slide-status {
    font-size: 14px;
    margin-top: 20px;
  }
  #slider__text .meta {
    font-size: 12px;
  }
}

/*------------------------------------------------------
 PC
------------------------------------------------------*/
@media screen and (min-width: 960px) {
  /* contents
  ================================================ */
  .arc__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .pc {
    display: block;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    width: 120px;
  }

  .header__nav ul {
    color: white;
    display: flex;
  }
}

/*------------------------------------------------------
 PC - desktop
------------------------------------------------------*/
@media screen and (min-width: 1760px) {
  /* contents
  ================================================ */
  .arc__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
