/* stylesheet */
@charset "UTF-8";

/* A Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
  pointer-events: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------------------------------------
 Base (Mobile First)
------------------------------------------------------*/
.pc {
  display: none;
}
body {
  color: #eee;
  width: 100%;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  font-feature-settings: 'palt';
  -webkit-text-size-adjust: 100%;
  font-family: 'Helvetica', sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
}

section {
  grid-column: 1 / span 4;
}

.slider__content {
  max-width: 100%;
}

@media (min-width: 640px) {
  .wrapper {
    padding-inline: 0;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
  }
  section {
    grid-column: 2 / span 6;
  }
  section.contact {
    grid-column: 2 / span 6;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(12, 1fr);
    padding-inline: 0;
  }
  section {
    grid-column: 2 / span 10;
  }
  section.contact {
    grid-column: 3 / span 8;
  }
}
@media (min-width: 1536px) {
  .wrapper {
    max-width: 1536px;
  }
  section.contact {
    grid-column: 4 / span 6;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: semibold;
  line-height: 1.4;
}

/* img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
} */

/* clearfix */
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/**



/* button
================================================ */
#contact__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  color: white;
  transition: all 0.3s ease;
}

#contact__button:hover {
  opacity: 0.4;
}

#contact__button span {
  z-index: 1;
}

.button__g__border {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  z-index: 0;
}

.button__g__border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* lenis
================================================ */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* base
================================================ */
body {
  background: #111;
}

.caption__text {
  color: white;
  opacity: 0.5;
  font-size: small;
}

.section__title {
  display: block;
  font-size: normal;
  letter-spacing: 5px;
  color: #ffffff;
  opacity: 0.6;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  margin-bottom: 2rem;
}

.section__title span {
  font-size: small;
  display: block;
  margin-top: 4px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
/* header
================================================ */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  color: white;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: auto;
  mix-blend-mode: difference;
}

.header__logo a {
  display: block;
  width: auto;
  padding: 20px;
}

.header__logo img {
  width: auto;
  height: 20px;
  object-fit: contain;
}

.header__nav {
  color: white;
  opacity: 0.6;
  display: flex;
  gap: 3rem;
  align-items: center;
  mix-blend-mode: difference;
  letter-spacing: 4px;
  cursor: pointer;
  padding: 20px;
  user-select: none;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
}

.header__nav span {
  display: inline-block;
  transition: all 0.3s ease;
}

.header__nav:hover {
  opacity: 1;
}

.header__nav:hover .nav__line {
  rotate: 45deg;
}

.header__nav__list__item {
  color: #eee;
  opacity: 0.7;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 4rem;
  transition: all 0.3s ease;
  letter-spacing: 4px;
}

/* navigation
================================================ */
.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
  user-select: none;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  pointer-events: none;
}

.nav.nav__open {
  opacity: 1;
  pointer-events: auto;
}

.header__nav__list__item span {
  display: inline-block;
  transition: all 0.3s ease;
}

.header__nav__list__item:hover {
  opacity: 1;
}

.header__nav__list__item:hover .nav__line {
  rotate: 45deg;
}

.nav__list {
  grid-column: 1/4;
}

/* webGL
================================================ */
.webgl-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
  z-index: -1;
}

.webgl-canvas__body {
  width: 100%;
  height: 100%;
}

/* fv
================================================ */
.fv {
  position: relative;
  top: 0;
  z-index: 0;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: grid;
  place-items: center;
  margin-top: -32px;
  width: 100%;
  margin: auto;
}

.fv__img {
  margin: auto;
  opacity: 0;
}

.fv p {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  pointer-events: none;
  word-break: none;
  opacity: 0.5;
}

body {
  overscroll-behavior: none;
}

.fv {
  position: relative;
}

.fv__inner {
  width: 100%;
}

/* archive
================================================ */

.arc__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.arc__list {
  width: 100%;
  color: white;
  border: none;
  position: relative;
}

.arc__list__image__wrapper {
  display: block;
}

.arc__list__title {
  font-size: medium;
  font-weight: 400;
  letter-spacing: 2px;
}

.sh__img {
  opacity: 0;
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

/* about
================================================ */
.about {
  margin-top: 6rem;
  text-align: center;
  opacity: 0.6;
  letter-spacing: 4px;
}

/* service
================================================ */
.services {
  margin-top: 6rem;
}

.s_img {
  opacity: 0;
  width: 100%;
  height: auto;

  position: absolute;
  z-index: 0;
}

#slider {
  position: relative;
  height: auto;
  overflow: hidden;
}

.slider__img {
  width: 130%;
  aspect-ratio: 12 / 8;
  position: relative;
  margin-left: 40px;
}

.slider__content {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
  position: relative;
  transform: translateY(-50%);
  width: 100%;
}

#slider__text {
  width: 100%;
}
#slider__text h2 {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  letter-spacing: 0.05em;
  color: #fff;
  line-height: 30px;
  margin: 16px 0;
}

#slider__text span {
  display: none;
}
#slider__text .meta {
  display: inline-block;
  font-size: 11px;
  letter-spacing: 5px;
  color: #fff;
  opacity: 0.6;
  text-transform: uppercase;
  position: relative;
}

#slider__text #slide-status {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

#pagination {
  position: relative;
  z-index: 6;
  display: flex;
  gap: 30px;
  margin-top: 2.5rem;
  margin-left: 1rem;
}
#pagination button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  position: relative;
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}
#pagination button:hover {
  opacity: 0.5;
}
#pagination button.active {
  opacity: 1;
}
#pagination button.active:before {
  width: 300%;
  height: 300%;
  opacity: 1;
}
#pagination button:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

/* contact
================================================ */

.contact {
  display: block;
  margin: auto;
  width: 100%;
}

.contact .container {
  width: 100%;
}

.contact .container .contact__btn span {
  display: block;
  text-align: center;
}

.contact .container a span.pc {
  display: none;
}

.contact .container .contact__btn {
  padding: 20px;
}

.contact__btn__caption {
  display: inline-block;
  font-size: 11px;
  letter-spacing: 5px;
  color: #fff;
  opacity: 0.6;
  text-transform: uppercase;
  position: relative;
}

.contact__btn__text {
  font-size: medium;
  color: white;
}

.contac__btn__click {
  font-size: small;
}

.contact__bottom__text {
  font-size: small;
  line-height: 1.4;
  text-align: center;
  margin-top: 1rem;
  color: white;
  opacity: 0.6;
}

/* footer
================================================ */
footer {
  text-align: center;
  color: white;
}

.footer__top {
  margin-block: 40px;
  letter-spacing: 2px;
}

.footer__top__address {
  opacity: 0.6;
  font-size: small;
  line-height: 1.4;
  margin-top: 0.5rem;
  opacity: 0.6;
}

.footer__top h2 {
  font-size: large;
  opacity: 1;
}

.footer__bottom {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  mix-blend-mode: difference;
  letter-spacing: 4px;
  cursor: pointer;
  padding: 12px;
  user-select: none;
  transition: all 0.3s ease;
}

.footer__bottom__list {
  display: inline-block;
  transition: all 0.3s ease;
  opacity: 0.6;
}

.footer__bottom__list:hover {
  opacity: 1;
}

.footer__bottom__list .nav__line {
  transition: all 0.3s ease;
}

.footer__bottom__list:hover .nav__line {
  display: inline-block;
  rotate: 45deg;
}

.copy {
  margin-top: 40px;
  margin-bottom: 10px;
}
/*------------------------------------------------------
 Tablet
------------------------------------------------------*/
@media screen and (min-width: 640px) {
  .fv__img {
    width: 70%;
    max-width: 800px;
  }
  .wrapper {
    grid-column-gap: 16px;
  }

  .sp {
    display: none;
  }
  .pc__nav.pc {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Fallback */
    min-height: calc(var(--vh, 1vh) * 100);
    top: 50%;
    translate: 0 -50%;
    padding: 20px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    -webkit-border-image: none;
    border-image: none;
  }

  .nav__list {
    grid-column: 2/5;
  }

  /* contents
  ================================================ */

  .fv p {
    font-size: large;
    margin-top: -1rem;
  }
  .arc__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  #slider {
    display: flex;
    justify-content: flex-end;
    height: auto;
    max-height: 1540px;
    padding: 0;
  }

  .slider__content {
    margin: auto;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    padding: 0px;
  }

  .slider__img {
    width: 92%;
    margin-right: calc(100% / -7);
  }

  .s_img {
    height: auto;
  }

  #slider__text h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }

  #slider__text #slide-status {
    font-size: 14px;
    margin-top: 20px;
  }
  #slider__text .meta {
    font-size: 12px;
  }

  .contac__btn__click.pc {
    text-align: center;
    display: block;
  }

  .contact {
    margin-top: 8rem;
  }

  #contact__button {
    height: 72px;
  }

  .footer__top {
    margin-block: 100px;
  }

  .copy {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

/*------------------------------------------------------
 PC
------------------------------------------------------*/
@media screen and (min-width: 960px) {
  /* contents
  ================================================ */
  .arc__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
  .pc {
    display: block;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    width: 120px;
  }

  .header__nav ul {
    color: white;
    display: flex;
  }

  #slider {
    overflow-y: hidden;
  }

  .slider__content {
    top: 60%;
  }

  .slider__img {
    width: 90%;
  }

  .services {
    margin-top: 8rem;
  }

  #contact__button {
    height: 100px;
  }

  .contact__btn__text {
    font-size: larger;
  }
}

@media screen and (min-width: 1440px) {
}

/*------------------------------------------------------
 PC - desktop
------------------------------------------------------*/
@media screen and (min-width: 1760px) {
  .wrapper {
    grid-column-gap: 32px;
  }
  .arc__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }

  .slider__img {
    margin-right: 0;
    width: 70%;
  }
}

@keyframes delay {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

.transition {
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.transition li:first-of-type {
  width: 100%;
  height: 50%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  background: #000;
}

.transition li:last-of-type {
  width: 100%;
  height: 50%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  background: #000;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

@keyframes blur {
  from {
    color: transparent;
    text-shadow: 0 0 30px rgba(255, 255, 255, 1);
  }

  to {
    color: #fff;
    text-shadow: 0;
  }
}
