.page__contact {
  height: 100vh;
  width: 100%;
  color: #eee;
}

.subp.wrapper.page__contact {
  margin-top: -32px;
}

.page__contact__text {
  grid-column: 1 / 5;
  opacity: 0.6;
  letter-spacing: 4px;
}

.page__contact__text__line2 {
  margin-top: 2rem;
  font-size: small;
  line-height: 1.4;
}

.page__contact__form {
  grid-column: 1 / 5;
}

/* form */
.page__contact__form {
  grid-column: 1 / 5;
  margin-top: 5rem;
}

.contact__form__inner {
  background: #000;
  padding: 40px 20px;
}

.wpcf7-form input[type='text'],
.wpcf7-form input[type='email'],
.wpcf7-form textarea {
  background: #232323;
  color: #eee;
  border: 1px solid #c2c2c2;
  padding: 10px;
  width: 100%;
}

.wpcf7-form textarea {
  max-height: 250px;
}

.wpcf7-form label {
  display: block;
}

.wpcf7-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  color: white;
  transition: all 0.3s ease;
  border: none;
}

.wpcf7-submit:hover {
  opacity: 0.4;
}

.wpcf7-submit span {
  z-index: 1;
}

.wpcf7-submit {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  z-index: 0;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  overflow: hidden;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 640px) {
  .page__contact__text {
    grid-column: 2 / 8;
  }

  .page__contact__form {
    grid-column: 2 / 8;
  }
}

@media (min-width: 1024px) {
  @media (min-width: 640px) {
    .page__contact__text {
      grid-column: 2 / 5;
      align-self: center;
    }

    .page__contact__form {
      grid-column: 6 / 12;
      margin-bottom: 1rem;
    }
    .contact__form__inner {
      padding: 60px 60px;
    }
  }
}
