/**
 * File: main.css
 * Usage: トップページのスタイルを定義します。
*/

.ly_fv {
  position: relative;
  background: rgba(0, 0, 0, 1);
  z-index: 0;
}

.ly_fv::before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0%;
  bottom: 10%;
  width: 150%;
  left: -25%;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  pointer-events: none;
}

.bl_fvCont {
  padding-top: 80px;
  padding-bottom: 20px;
}

.bl_fvCont_ttl {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding-inline: 40px;
}

.bl_fvContExp {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .bl_fvCont_ttl {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1280px) {
}
