/* stylesheet */
@charset "UTF-8";

/* A Modern CSS Reset */
.html {
  position: relative;
}
.html::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 1000000000000;
  transition: all 0.3s ease;
}

.html.loaded::after {
  opacity: 0;
  pointer-events: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
  pointer-events: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* fonts
================================================ */
@font-face {
  font-family: 'moret';
  font-weight: 600;
  src: url(../fonts/Moret-Bold.woff) format('woff');
}

/*------------------------------------------------------
 Base (Mobile First)
------------------------------------------------------*/
.pc {
  display: none;
}
body {
  background: #1e1e1e;
  color: #dadada;
  width: 100%;
  line-height: 1.8;
  letter-spacing: 1.222px;
  font-feature-settings: 'palt';
  -webkit-text-size-adjust: 100%;
  font-family: 'Helvetica', sans-serif;
  overscroll-behavior: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
}

.wrapper.front-page {
  padding-inline: 0;
}

section {
  grid-column: 1 / span 4;
}

.moret__title {
  font-family: 'moret', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
}

.moret__title span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 1rem;
}

.slider__content {
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .wrapper {
    padding-inline: 0;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
  }
  section {
    grid-column: 2 / 8;
  }
  section.contact {
    grid-column: 2 / span 6;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(12, 1fr);
    padding-inline: 0;
  }
  section {
    grid-column: 2 / span 10;
  }
  section.contact {
    grid-column: 3 / span 8;
  }
}
@media screen and (min-width: 1536px) {
  .wrapper {
    max-width: 1536px;
  }
  section.contact {
    grid-column: 4 / span 6;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

/* clearfix */
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* utils
================================================ */
#contact__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  transition: all 0.3s ease;
}

#contact__button:hover {
  opacity: 0.4;
}

#contact__button span {
  z-index: 1;
}

.button__g__border {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  z-index: 0;
  border-radius: 4px;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* lenis
================================================ */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* base
================================================ */

.caption__text {
  opacity: 0.5;
  font-size: small;
}

.section__title {
  font-family: 'moret';
  display: block;
  font-size: x-large;
  letter-spacing: 1px;
  opacity: 1;
  position: relative;
  font-weight: 600;
  margin-top: 1rem;
}

.section__title span {
  font-size: small;
  display: block;
  margin-top: 4px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* navigation
================================================ */

.header__nav__list__item span {
  display: inline-block;
  transition: all 0.3s ease;
}

.header__nav__list__item:hover {
  opacity: 1;
}

.header__nav__list__item:hover .nav__line {
  rotate: 45deg;
}

.nav__list {
  grid-column: 1/4;
}

/* webGL
================================================ */
.webgl-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
  z-index: -1;
}

.webgl-canvas canvas {
  filter: blur(0.5px);
}
.webgl-canvas__body {
  width: 100%;
  height: 100%;
}

/* fv
================================================ */
.fv {
  position: relative;
  top: 0;
  z-index: 0;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: grid;
  place-items: center;
  margin-top: -32px;
  width: 100%;
  margin: auto;
}

.fv__img {
  margin: auto;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  object-fit: cover;
  width: 75%;
  aspect-ratio: 1 / 1.293;
}

.fv__text__h1 {
  font-family: 'moret';
  font-size: 22vw;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-align: center;
  width: max-content;
  text-align: center;
  margin: auto;
}

.fv {
  position: relative;
}

.fv__inner {
  width: 100%;
}

/* services
================================================ */
.intro {
  grid-template-columns: auto;
  overflow: hidden;
  margin-top: 5rem;
}

.intro__img {
  position: relative;
}

.intro .sh__img {
  object-fit: cover;
  aspect-ratio: 2.3 / 1;
  width: 100%;
  height: auto;
  position: relative;
}

.intro .text {
  margin-inline: 20px;
  margin-top: -3rem;
  width: calc(100vw - 40px);
}

.intro .text .intro__text {
  max-width: 100%;
  margin-top: 1rem;
}

/* archive
================================================ */
.projects .moret__title {
  margin-left: 20px;
}
.proj__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.proj__list {
  width: 100%;
  border: none;
  position: relative;
}

.proj__list__image__wrapper {
  display: block;
}

.proj__list__title {
  font-size: medium;
  font-weight: 400;
}

.sh__img {
  opacity: 0;
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  translate: -2.5% 0;
}

.projects.front-page {
  margin-top: 5rem;
}

.projects.front-page .sh__img {
  aspect-ratio: 2 / 1;
}

.projects.front-page .arc__list {
  margin-top: 2.5rem;
}

.proj__list {
  margin-top: 2.5rem;
}

.proj__list__title {
  margin-inline: 20px;
  margin-top: -5rem;
  width: calc(100vw - 40px);
}

.proj__list__title__main {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 3rem;
}

.proj__list__title__main {
  margin-block: 2rem;
}

/* about
================================================ */
.about {
  margin-top: 5rem;
  padding-inline: 20px;
}

.about__container {
  font-size: 14px;
}

.about__container table {
  width: 100%;
  margin-top: 2.5rem;
}

.about__container tr {
  display: flex;
  padding-block: 1rem;
  border-top: rgba(218, 218, 218, 0.6) 1px solid;
}

.about__container tr th {
  width: 25%;
  text-align: left;
}

.about__container tr:last-of-type {
  border-bottom: rgba(218, 218, 218, 0.6) 1px solid;
}

.about__container tr .link {
  opacity: 0.6;
}

/* service
================================================ */
.services {
  margin-top: 6rem;
}

.s_img {
  opacity: 0;
  width: 100%;
  height: auto;

  position: absolute;
  z-index: 0;
}

#slider {
  position: relative;
  height: auto;
  overflow: hidden;
}

.slider__img {
  width: 100%;
  aspect-ratio: 12 / 8;
  position: relative;
  margin-left: 40px;
}

.slider__content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
  position: relative;
  margin-inline: 20px;
  margin-top: -10rem;
  width: calc(100vw - 40px);
}

#slider__text {
  width: 100%;
  padding-bottom: 20px;
}
#slider__text h2 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 1.5rem;
}

#slider__text span {
  display: none;
}
.data__slide__title {
  display: none;
}

.data__slide__title__exp {
  font-size: 14px;
  margin-top: 1.5rem;
}
#slider__text .meta {
  display: inline-block;
  font-size: 11px;
  letter-spacing: 3px;
  opacity: 0.6;
  text-transform: uppercase;
  position: relative;
}

#slider__text #slide-status {
  font-weight: 600;
  font-size: 2.5rem;
  font-family: 'moret', sans-serif;
  letter-spacing: 1px;
}

#pagination {
  position: relative;
  z-index: 6;
  display: flex;
  gap: 30px;
  margin-top: 2.5rem;
  margin-left: 1rem;
}
#pagination button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  width: 16px;
  height: 16px;
  background-color: #dadada;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  position: relative;
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}
#pagination button:hover {
  opacity: 0.5;
}
#pagination button.active {
  opacity: 1;
}
#pagination button.active:before {
  width: 300%;
  height: 300%;
  opacity: 1;
}
#pagination button:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

/* contact
================================================ */

.contact {
  display: block;
  margin: auto;
  width: 100%;
}

.contact .container {
  width: 100%;
}

.contact .container .contact__btn span {
  display: block;
  text-align: center;
}

.contact .container a span.pc {
  display: none;
}

.contact .container .contact__btn {
  padding: 20px;
}

.contact__btn__caption {
  display: inline-block;
  font-size: 11px;
  letter-spacing: 0.125em;

  opacity: 0.6;
  text-transform: uppercase;
  position: relative;
}

.contact__btn__text {
  font-size: medium;
}

.contac__btn__click {
  font-size: small;
}

.contact__bottom__text {
  font-size: small;
  line-height: 1.4;
  text-align: center;
  margin-top: 1rem;
  opacity: 0.6;
}

/*------------------------------------------------------
 Tablet
------------------------------------------------------*/
@media screen and (min-width: 640px) {
  .fv__img {
    width: 65%;
  }

  .fv__text__h1 {
    font-size: 20vw;
  }

  .wrapper {
    grid-column-gap: 16px;
  }

  .sp {
    display: none;
  }
  .pc__nav.pc {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Fallback */
    min-height: calc(var(--vh, 1vh) * 100);
    top: 50%;
    translate: 0 -50%;
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    -webkit-border-image: none;
    border-image: none;
  }

  .nav__list {
    grid-column: 2/5;
  }

  /* contents
  ================================================ */

  .fv .fv__text {
    font-size: large;
    margin-top: -1rem;
  }
  .arc__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .intro .text {
    width: calc(100% - 40px);
  }

  .slider__content {
    width: calc(100% - 40px);
  }

  .proj__list__title {
    width: calc(100% - 40px);
  }

  #contact__button {
    height: 72px;
    max-width: 650px;
    margin-inline: auto;
  }

  .copy {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

/*------------------------------------------------------
 768pxで横レイアウトに変更
------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .intro,
  .services,
  .projects {
    grid-column: 1/9;
  }

  /* intro */
  .intro__inner {
    display: flex;
  }
  .intro__img {
    position: relative;
  }
  .intro .sh__img {
    width: 68%;
    height: 100%;
  }
  .intro .text {
    margin-top: 5rem;
    margin-left: -30vw;
  }

  .intro .text .intro__text {
    margin-top: 2.5rem;
  }

  /* services */
  #slider {
    display: flex;
    flex-direction: row-reverse;
  }

  .slider__img {
    width: 100%;
    margin-left: -50%;
  }

  .slider__content {
    margin-top: 5rem;
    width: 100%;
  }

  .proj__list__image__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .proj__list:nth-of-type(even) .proj__list__image__wrapper {
    flex-direction: row-reverse;
  }

  .proj__list__image__wrapper .sh__img {
    width: 70%;
    height: 100%;
    aspect-ratio: 16/9 !important;
  }

  .proj__list__title {
    width: 100%;
    margin-top: 2.5rem;
    margin-inline: 40px;
  }

  .proj__list:nth-of-type(odd) .proj__list__title {
    margin-left: -20%;
  }

  .proj__list:nth-of-type(even) .sh__img {
    margin-left: -20%;
  }

  .proj__container {
    gap: 0;
  }
}

@media screen and (min-width: 1024px) {
  .moret__title {
    font-size: 70px;
  }
  .intro {
    grid-column: 1/12;
  }

  .services {
    grid-column: 2/13;
  }

  .projects {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .about {
    grid-column: 4/10;
  }

  .intro .text {
    margin-left: -150px;
  }

  #slider {
    align-items: center;
  }

  .slider__content {
    margin-top: 0;
    margin-left: 0;
  }

  .projects .moret__title {
    margin-left: 0;
    grid-column: 2/12;
  }
  .projects.front-page .sh__img {
    aspect-ratio: 3/2.4 !important;
    width: 65%;
  }
  .proj__list {
    margin-top: 0;
  }

  .proj__container {
    margin-top: 5rem;
    grid-column: 1/13;
  }

  .proj__list__title__main {
    font-size: 2rem;
  }

  .proj__list__image__wrapper {
    align-items: center;
  }

  .proj__list__title {
    margin-top: 0;
    max-width: 30%;
  }

  .proj__list:nth-of-type(odd) .proj__list__title {
    margin-left: -3%;
  }
  .proj__list:nth-of-type(even) .sh__img {
    margin-left: 3%;
  }
}
/*------------------------------------------------------
 PC
------------------------------------------------------*/
@media screen and (min-width: 960px) {
  .fv__img {
    width: 55%;
  }
  .arc__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
  .pc {
    display: block;
  }

  #slider {
    overflow-y: hidden;
  }

  .slider__content {
    top: 60%;
  }

  .services {
    margin-top: 8rem;
  }

  #contact__button {
    height: 100px;
    max-width: 850px;
  }

  .contact__btn__text {
    font-size: larger;
  }
}

@media screen and (min-width: 1280px) {
  .fv__img {
    width: 38%;
  }
}

/*------------------------------------------------------
 PC - desktop
------------------------------------------------------*/
@media screen and (min-width: 1760px) {
  .fv__text__h1 {
    font-size: 14vw;
  }
  .wrapper {
    grid-column-gap: 32px;
  }
  .arc__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }

  .slider__img {
    margin-right: 0;
    width: 70%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}
