/**
 * File: single.css
 * Usage: single.php(投稿の個別ページ)のスタイルを定義します。
*/
.ly_single {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .ly_single {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1280px) {
  .ly_single {
    padding: 0 80px;
  }
}
