.news__container {
  margin-top: 6.5rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.arc__news__content {
  border: #fff 1px solid;
  border-radius: 4px;
  width: auto;
  height: 75px;
  color: #eee;
  font-size: medium;
  padding: 16px;
  text-align: left;
  line-height: 1.4;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.arc__news__content:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  opacity: 0.4;
}

.arc__news__content h2 {
  font-size: small;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.arc__news__content p {
  font-size: smaller;
  text-align: left;
  opacity: 0.6;
}
